<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer" class="navbar-fixed-bottom" style="background-color: #333;">

    <div class="container">

        <footer style="color: #CECECE;text-align: center;">
            <!-- this is footer -->
            版本所有 © 2017 中软国际<span sec:authorize="isAuthenticated()"> | 当前用户: <span sec:authentication="name"></span> | <a href="/logout">注销</a>
            </span>
        </footer>
    </div>

</div>
</body>
</html>