<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="header-extjs6">
    <script type="text/javascript" src="/webjars/extjs/6.2.0/include.js">
    </script>
    <script type="text/javascript" src="management/app/Application.js">
    </script>
    <link rel="shortcut icon" href="management/resources/images/measure_units.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="management/resources/icon.css"/>
    <link rel="stylesheet" href="management/resources/css/shared.css"/>
    <link rel="stylesheet" href="/webjars/extjs/6.2.0/no_box_shadow.css"/>
</head>
<body>
</body>
</html>