<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header-extjs6">
    <title>无线度量平台管理</title>
    <meta http-equiv="keywords" content="无线度量平台管理"/>
    <meta http-equiv="description" content="无线度量平台管理"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <script type="text/javascript" src="/webjars/extjs/6.2.0/include.js">
    </script>
    <script type="text/javascript" src="management/app/Application.js">
    </script>
    <link rel="shortcut icon" href="management/resources/images/measure_units.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="management/resources/icon.css"/>
    <link rel="stylesheet" href="management/resources/css/shared.css"/>
    <link rel="stylesheet" href="/webjars/extjs/6.2.0/no_box_shadow.css"/>
</head>
<body>
</body>
</html>