<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>无线度量平台-系统管理</title>
    <meta http-equiv="keywords" content="无线度量平台"/>
    <meta http-equiv="description" content="无线度量平台"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <div th:replace="fragments/include_extjs6::header-extjs6"/>
</head>
<body>
</body>
</html>