<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>无线度量平台管理</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header(4)"/>

<div class="container-fluid" style="border:1px solid red;">

    <div class="starter-template">
        <h1>Spring Boot Web Thymeleaf + Spring Security</h1>
        <h2>1. Visit <a th:href="@{/admin}">Admin page (Spring Security protected, Need Admin Role)</a></h2>
        <h2>2. Visit <a th:href="@{/user}">User page (Spring Security protected, Need User Role)</a></h2>
        <h2>3. Visit <a th:href="@{/about}">Normal page</a></h2>
    </div>
    <div class="row" style="height: 30px;">
        <div class="col-md-1" style="border:1px solid blue;height: 30px;"></div>
        <div class="col-md-2" style="border:1px solid red;height: 30px;"></div>
        <div class="col-md-3" style="border:1px solid gray;height: 30px;"></div>
        <div class="col-md-6" style="border:1px solid yellow;height: 30px;"></div>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>