<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>无线度量平台管理</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header(3)"/>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item active">组织结构
                    <ul class="list-group">
                        <a href="#" class="list-group-item active">部门1</a>
                        <a href="#" class="list-group-item active">部门2</a>
                        <a href="#" class="list-group-item active">部门3</a>
                        <a href="#" class="list-group-item active">部门4</a>
                        <a href="#" class="list-group-item active">部门5</a>
                        <a href="#" class="list-group-item active">部门6</a>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            项目名称：<br/>
            项目时间：<br/>
            项目内容：<br/>
        </div>
        <div class="col-md-6">
            <ul class="nav nav-pills">
                <li class="active"><a href="#home" data-toggle="tab">项目1</a>
                </li>
                <li><a href="#svn" data-toggle="tab">SVN</a></li>
                <li><a href="#ios" data-toggle="tab">iOS</a></li>
                <li><a href="#net" data-toggle="tab">VB.Net</a></li>
                <li><a href="#JAVA" data-toggle="tab">Java</a></li>
                <li><a href="#PHP" data-toggle="tab">PHP</a></li>
            </ul>
            <div class="tab-content">
                <div id="home" class="tab-pane active">
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#table1" data-toggle="tab">P0</a>
                        </li>
                        <li><a href="#pic" data-toggle="tab">P1</a></li>
                        <li><a href="#">P2</a></li>
                        <li><a href="#">P3</a></li>
                        <li><a href="#">P4</a></li>
                        <li><a href="#">P5</a></li>
                    </ul>
                </div>
                <div id="svn" class="tab-pane fade">
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#">svn0</a>
                        </li>
                        <li><a href="#">svn1</a></li>
                        <li><a href="#">svn2</a></li>
                        <li><a href="#">svn3</a></li>
                        <li><a href="#">svn4</a></li>
                        <li><a href="#">svn5</a></li>
                    </ul>
                </div>
                <div id="ios" class="tab-pane fade">
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#">ios0</a>
                        </li>
                        <li><a href="#">ios1</a></li>
                        <li><a href="#">ios2</a></li>
                        <li><a href="#">ios3</a></li>
                        <li><a href="#">ios4</a></li>
                        <li><a href="#">ios5</a></li>
                    </ul>
                </div>
                <div id="net" class="tab-pane fade">
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#">net0</a>
                        </li>
                        <li><a href="#">net1</a></li>
                        <li><a href="#">net2</a></li>
                        <li><a href="#">net3</a></li>
                        <li><a href="#">net4</a></li>
                        <li><a href="#">net5</a></li>
                    </ul>
                </div>
                <div id="JAVA" class="tab-pane fade">
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#">java1</a>
                        </li>
                        <li><a href="#">java2</a></li>
                        <li><a href="#">java0</a></li>
                        <li><a href="#">java4</a></li>
                        <li><a href="#">java5</a></li>
                        <li><a href="#">java6</a></li>
                    </ul>
                </div>
                <div id="PHP" class="tab-pane fade">
                    <ul class="nav nav-pills">
                        <li class="active"><a href="#">php0</a>
                        </li>
                        <li><a href="#">php1</a></li>
                        <li><a href="#">php2</a></li>
                        <li><a href="#">php3</a></li>
                        <li><a href="#">php4</a></li>
                        <li><a href="#">php5</a></li>
                    </ul>
                </div>

            </div>
            <div class="tab-content">
                <div id="table1" class="tab-pane fade">
                    <table class="table">
                        <caption>基本的表格布局</caption>
                        <thead>
                        <tr>
                            <th>名称</th>
                            <th>城市</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                        </tr>
                        <tr>
                            <td>Sachin</td>
                            <td>Mumbai</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="pic" class="tab-pane fade">
                    <img src="../images/cinqueterre.jpg" class="img-responsive" alt="Cinque Terre"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>