<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>无线度量平台管理</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header(3)"/>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-lg-3">
            <ul class="list-group">
                <li class="list-group-item">组织结构
                    <ul>
                        <li class="list-group-item">无线</li>
                        <li class="list-group-item">小站</li>
                        <li class="list-group-item">OSS</li>
                        <li class="list-group-item">中射频</li>
                        <li class="list-group-item">MARP</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-lg-1">
            部门名称:小站<br/>
            部门人员：588<br/>
            部门经理：里带领<br/>
        </div>
        <div class="col-lg-8">
            <title>展示数据</title>
            <ul id="myTab" class="nav nav-tabs">
                <li class="active">
                    <a href="#second1" data-toggle="tab">
                        PO1
                    </a>
                </li>
                <li><a href="#second2" data-toggle="tab">PO2</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div id="second1" class="tab-pane fade in active">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#table" data-toggle="tab">
                                项目1
                            </a>
                        </li>
                        <li><a href="#simpleTable" data-toggle="tab">项目2</a></li>
                    </ul>
                </div>
                <div id="second2" class="tab-pane fade">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#picture" data-toggle="tab">
                                项目3
                            </a>
                        </li>
                        <li><a href="#beauty" data-toggle="tab">项目4</a></li>
                    </ul>
                </div>
            </div>
            <div id="mySecondTabContent" class="tab-content">
                <div id="table" class="tab-pane fade in active">
                    <table class="table">
                        <caption>上下文表格布局</caption>
                        <thead>
                        <tr>
                            <th>产品</th>
                            <th>付款日期</th>
                            <th>状态</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="active">
                            <td>产品1</td>
                            <td>23/11/2013</td>
                            <td>待发货</td>
                        </tr>
                        <tr class="success">
                            <td>产品2</td>
                            <td>10/11/2013</td>
                            <td>发货中</td>
                        </tr>
                        <tr class="warning">
                            <td>产品3</td>
                            <td>20/10/2013</td>
                            <td>待确认</td>
                        </tr>
                        <tr class="danger">
                            <td>产品4</td>
                            <td>20/10/2013</td>
                            <td>已退货</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="simpleTable" class="tab-pane fade">
                    <table class="table table-condensed">
                        <caption>精简表格布局</caption>
                        <thead>
                        <tr>
                            <th>名称</th>
                            <th>城市</th>
                            <th>邮编</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Tanmay</td>
                            <td>Bangalore</td>
                            <td>560001</td>
                        </tr>
                        <tr>
                            <td>Sachin</td>
                            <td>Mumbai</td>
                            <td>400003</td>
                        </tr>
                        <tr>
                            <td>Uma</td>
                            <td>Pune</td>
                            <td>411027</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="picture" class="tab-pane fade">
                    <img src="../images/cinqueterre.jpg" class="img-responsive"/>
                </div>
                <div id="beauty" class="tab-pane fade">
                    <img src="../images/beauty.jpg" class="img-responsive"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>